.contact-us-btn{
	position: fixed;
	bottom: 10px;
	left: 15px;
	width: 40px;
	z-index: 10000;
}
.contact-us-btn img{
	width: 100%;
	cursor: pointer;
}

.contact-page-container{
	position: fixed;
	bottom:10px;
	left: 10px;
	background: #2c3e50;
	width: 0px;
	height: 0px;
	text-align: center;
	visibility: hidden;
	transition: width .4s .3s, height .4s .3s, visibility 0s .5s;
    z-index:1003;
}
.show-contact-page{
	visibility: visible;
	width: 30%;
	height: 70%;
	transition: width .4s, height .4s, visibility 0s;
}

.contact-page-container h3{
	position: relative;
	top: -10px;
	text-transform: uppercase;
/*	font-family: RobotoLight;*/
	color: #ecf0f1;
}

.contact-form{
	position: relative;
	top: 40px;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	transition: opacity .3s;
}
.show-contact-form{
	opacity: 1;
	transition: opacity .3s .5s;
}
::-webkit-input-placeholder{
	color: #bbb;
	text-transform: uppercase;
}
.name-input, .comment-input{
	width: 100%;
	height: 11%;
	padding: 20px;
	margin-bottom: 15px;
	font-size: 1em;
	color: #2c3e50;
}
.comment-input{
	height: 30%;
}
.submit-btn{
	width: 50%;
	height: 10%;
	margin-left: 50%;
	background: #ecf0f1;
	color: #2c3e50;
	cursor: pointer;
	text-transform: uppercase;
}
.warning-label{
	font-size: 0.8em;
	margin-bottom: 5px;
	text-align: left;
	color: #FF8000;
	display: none;
}
.active-warning{
	display: block;
}
@media screen and (max-width: 928px){/*3 items in a row*/
	.show-contact-page{
		width: 70%;
		height: 60%;
	}
}