.login-page-container{
	background: #2c3e50;
	width: 35%;
    height: 270px;
	text-align: center;
    margin: 0 auto;
	transition: width .4s .3s, height .4s .3s, visibility 0s .5s;
}

.login-form{
	top: 40px;
	width: 80%;
	height: 90%;
	margin: 0 auto;
}

.login-form .submit-btn{
	height: 15%;
}
